.nav-wrapper a {
  color: #424242;
}

a.brand-logo {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5rem;
}

#parallax-container-header {
  min-height: 20rem;
  max-height: 50rem;
}

#parallax-container-header .row {
  background-color: rgba(0,0,0,.4);
  width: 100%;
}