h1 {
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

h5 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h6 {
  color: rgba(119,119,119,1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

address a {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  color: #ec1823;
}

.nav-wrapper a {
  color: #424242;
}

a.brand-logo {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5rem;
}

#parallax-container-header {
  min-height: 20rem;
  max-height: 50rem;
  background-color: rgba(0,0,0,.5);
}

.block-collection-avatar-content,
.block-content-text {
  padding: 1rem 0;
}

#block-content-text-about {
  background-color: #F1F2F2;
}

#block-collection-avatar-content-skill .collection-item,
#block-collection-avatar-content-skill,
#block-content-text-experience {
  background-color: #161515;
}

#block-content-text-experience h4 {
  color: #DDDDDD;
}

#block-collection-link-icons-contact,
#block-content-text-contact {
  background-color: #EC1823;
}

#block-content-text-contact h6,
#block-content-text-contact h4 {
  color: white;
}

#block-collection-avatar-content-skill .title {
  font-size: 2rem;
  margin-left: 2rem;
}

#block-collection-link-icons-contact i,
#block-collection-avatar-content-skill i {
  color: white;
}

#block-collection-avatar-content-skill .collection,
#block-collection-avatar-content-skill .collection li {
  border-color: rgba(119,119,119,1);
  border-width: 0 0 1px 0;
}

#block-collection-link-icons-contact {
  padding: 3rem 0;
}

#block-collection-link-icons-contact i {
  margin: 0 2rem;
}

@media (width < 500px) {
  h1 {
    font-size: 3rem;
  }
}