h1 {
  font-size: 6rem;
}

h5 {
  font-size: 1.5rem;
}

address a {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  color: #ec1823;
}

.nav-wrapper a {
  color: #424242;
}

a.brand-logo {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5rem;
}

#parallax-container-header {
  min-height: 20rem;
  max-height: 50rem;
  background-color: rgba(0,0,0,.5);
}

#parallax-container-header .parallax {
}

#parallax-container-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

#parallax-container-header h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#block-content-text-about {
  background-color: #F1F2F2;
  padding: 2rem;
}

#block-content-text-about h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

#block-content-text-about h6 {
  color: rgba(119,119,119,1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

